.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App > button {
  border: none;
  padding: 10px 30px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  transition: all 300ms ease-out;
  background-image: linear-gradient(
    to right,
    hsl(211, 100%, 50%),
    hsl(179, 100%, 30%)
  );
}

.App > button:hover {
  box-shadow: 1px 1px 13px -2px rgba(0,0,0,0.75);
  font-size: 20px;
}